<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Webpage</title>
    <body>
      {{> header}}
      <p>{{screamIt welcomeMessage}}<p>
      <br>
      <p> This is the homepage of this website.</p>

      {{> footer}}

    </body>
  </head>
</html>
